<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Romans</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Liste des Romans
  </div>
 <div class="card-body">

 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Titre Roman</th><th>Prix</th>
 </tr>
 <tr th:each="r:${romans.content}">
 <td th:text="${r.idRoman}"></td>
 <td th:text="${r.titreRoman}"></td>
 <td th:text="${r.prixRoman}"></td>
 
<td><a class="btn btn-danger"  onclick="return confirm('Etes-vous sûr ?')"
                              th:href="@{supprimerRoman(id=${r.idRoman},
              page=${currentPage},size=${size})}">Supprimer</a></td>


<td><a class="btn btn-success"
		th:href="@{modifierRoman(id=${r.idRoman})}">Editer</a></td> </tr>
 </table>
 <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
 th:href="@{ ListeRomans(page=${status.index}, size=${size} ) }"
 th:text="${status.index }"></a>
 </li>
 </ul>
 </div>
</div>
</div>
</div>
</body>
</html>